// Footer
footer ul.container{
	color: $color-grey-dark;
	a{
		display: block;
	}

	// Hasta llegar al contenedor
	@include responsive('min-xl'){
		li{
			display: inline-block;
			&:not(:last-child){
				margin-right: 3em;
			}
		}
	}

	// Desktop
	@include responsive('max-xl'){
		line-height: 4;
		text-align: center;
		@include grid(4, 1);
	}

	// Tablet
	@include responsive('max-l'){
		@include grid(2, 2);
	}

	// Phone
	@include responsive('max-m'){
		@include grid(1, 2);
	}
}