// Layout
body{
	> {
		header,
		footer{
			background-color: $color-grey-light;
			@extend %container-mini;
			text-align: center;
		}
		header img{
			display: inline-block;
			height: auto;
			width: 5rem;
		}
		main{
			@extend %container;
		}
	}
}