#comments
	h2 Notas
	form(ng-controller='FrmController'  my-enter='btn_add()')
		ul.comment-list
			li(ng-repeat='txt in comment.txt')
				| {{ txt }}
				//- span(ng-repeat='date in comment.date') {{ date }} 
				a(ng-click='remItem($index)')
					span
						i.icon-cancel
		textarea(ng-model='txtcomment' placeholder='Escribe una nota')
		//- br
		//- button(ng-click='btn_add()')
		//- 	span.btn
		//- 		i.icon-paper-plane-empty