//- Meta y título
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
title=title

//- Icons
if (typeof(favicon) !== 'undefined')
	link(rel='shortcut icon' href=favicon)

//- CSS
link(rel='stylesheet' href=styles)

//- Icons
if (typeof(icons) !== 'undefined')
	link(rel='stylesheet' href=icons)

//- Angular
if (typeof(angular) !== 'undefined')
	script(type='text/javascript' src=angular)

//- Greensock
if (typeof(tween) !== 'undefined')
	script(type='text/javascript' src=tween)
if (typeof(timeline) !== 'undefined')
	script(type='text/javascript' src=timeline)

//- JS
script(type='application/javascript' src=scripts)