//- Metas
- var title = 'ETS Fintech ~ por Álvaro Möo'

//- Rutas | Generales
- var images = 'images/'
- var css = ''
- var js = ''

//- Rutas | Específicas
- var favicon = images + 'favicon.png'
- var styles = css + 'styles.css'
//- - var angular = 'js/vendors/angular.min.js'
- var scripts = js + 'scripts.js'
//- - var icons = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
//- - var tween = js + 'vendors/TweenMax.min.js'
//- - var timeline = js + 'vendors/TimelineMax.min.js'

//- Clases y propiedades
- var lang = 'es'
- var npApp = 'myApp'
- var ngCont = 'etsController'