// Responsive control mixin
@mixin responsive($media) {

	// // Breakpoints
	// $break-xl: 1050px;
	// $break-l: 720px;
	// $break-m: 600px;
	// $break-s: 480px;

	// Variables
	$breaks:
		'max-xl' 'min-xl' $break-xl,
		'max-l' 'min-l' $break-l,
		'max-m' 'min-m' $break-m,
		'max-s' 'min-s' $break-s;

	// Max & min medias
	@each $break in $breaks {

		$max: nth($break, 1);
		$min: nth($break, 2);
		$value: nth($break, 3);

		@if $media == $max {
			@media only all and (max-width: $value) {
				@content;
			}
		}

		@if $media == $min {
			@media only all and (min-width: $value) {
				@content;
			}
		}
	}
}