// Textos
$font-sizes: 'super-title' 24 20 16,
			 'title' 14 12 10,
			 'subtitle' 10 9 8,
			 'base' 8 7 6;

@mixin text($size, $list: $font-sizes){

	@each $type in $list{

		// Variables
		$name: nth($type, 1);
		$desktop: nth($type, 2);
		$tablet: nth($type, 3);
		$phone: nth($type, 4);

		@if ($name == $size){

			@include font-size($desktop);

			@include responsive('max-l'){
				@include font-size($tablet);
			}
			@include responsive('max-m'){
				@include font-size($phone);
			}
		}
	}
}