// Botones
button{
	background-color: $color-light;
	border: 0;
	&:hover{
		.grid & h2{
			color: $color-main;
		}
	}
	.modal &.close{
		background-color: $color-grey-light;
		color: $color-grey-dark;
		&:hover{
			background-color: $color-main;
			color: $color-light;
		}
	}
}

// Botones por clase
.btn{
	background-color: $color-grey-light;
	@include box-sizing(border-box);
	color: $color-grey-darker;
	transition: $transition-color;
	@include text('base');
	&:hover{
		color: $color-light;
		background-color: $color-main;
	}
	&.circle{
		@extend %center-as-table;
		$size: 2.75em;
		height: $size;
		font-size: $size / 2.5 !important;
		@include border-radius($size / 2);
		width: $size;
		margin: 0 auto;
		&.btn-l{
			$size: 3.5em;
			height: $size;
			font-size: $size / 3 !important;
			@include border-radius($size / 2);
			width: $size;
		}
	}
	&.rectangle{
		@include border-radius(0.5em);
		padding: 1em;
		
	}
}