h1,
h2,
h3,
h4,
h5,
h6{
	color: $color-title;
	font-family: $font-family-headings;
	transition: $transition-color;
}


h1{
	@include text('super-title');
	@extend %title-special;
	@extend %line;
}
h2{
	@include text('title');
	@extend %line;
}
h3{
	@include text('subtitle');
}
h4,
h5,
h6{
	@include text('base');
}