// Tablas
table{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: $break-l;

	// Row
	tr{

		// Impares
		&:nth-child(even){
			background-color: $color-grey-lighter;
			color: $color-grey-darker;
		}

		// Pares
		&:nth-child(odd){
			background-color: $color-grey-light;
			color: $color-grey-darker;
		}

	}

	th,
	td{
		border: 1px solid $color-light;
	}

	// Cabecera
	th{
		padding: 1em;
		background-color: $color-main-dark;
		color: $color-light;
	}

	// Celda
	td{
		padding: 0.5em;
		width: 33%;
		&:nth-child(1){
			color: $color-grey-darkest !important;
		}
	}
}