textarea,
input[type='text']{
	background-color: $color-grey-light;
	border: 1px solid $color-grey-light;
	color: $color-grey;
	display: block;
	line-height: 1.5;
	min-height: 10em;
	outline: none;
	padding: 2em;
	resize: none;
	transition: $transition;
	width: 100%;
	@include box-sizing(border-box);
	// max-width: 30em;
	&:focus{
		border-color: $color-grey;
		background-color: $color-grey-lighter;
		color: $color-grey-darker;
	}
}