extends templates/_grid

block modalContent
	h1 {{ficha.name}}
	.wrapper-small.info
		p Divisa: 
			strong {{ficha.currency.name}}
		p Editor: 
			strong {{ficha.issuer.name}}
		p ISIN: 
			strong {{ficha.isin}}
		p Región: 
			strong {{ficha.region.name}}
		p Familia de riesgo: 
			strong {{ficha.risk_family.name}}
		p Sector: 
			strong 
				span.sector {{ficha.sector.name}} 
				span.sector {{ficha.sector.sector_level2.name}}
				span.sector {{ficha.sector.sector_level2.sector_level3.name}}

	.wrapper.wrapper-prices
		h2 Evolución
		table.table-prices
			tr
				th 
					i.icon-chart-line
				th 
					i.icon-calendar
				th 
					i.icon-clock
			tr(ng-repeat='precio in ficha.prices | reverse | limitTo:limit')
				td {{ precio.value}}
				td {{ precio.date| date:'d MMM yyyy'}}
				td {{ precio.date| date:'H:mm Z'}}
		button(ng-click='loadMore()')
			span.btn.btn-l.circle
				i.icon-plus

	.wrapper-large
		include layout/_comments

block pageContent
	.wrapper

		//- Título de la página
		h1 Activos

		//- Fitro
		.wrapper-filters
			.filters(ng-class='myVar')
				.filter-group
					button(ng-click='myFilter = {currency: "EUR"}; myVar="active-euro"' title='Euro')
						span.filter.euro
							i.icon-eur
					button(ng-click='myFilter = {currency: "USD"}; myVar="active-dolar"' title='Dólar')
						span.filter.dolar
							i.icon-usd
					button(ng-click='myFilter = {currency: "JPY"}; myVar="active-yen"' title='Yen')
						span.filter.yen
							i.icon-jpy
				.filter-group
					button(ng-click='myFilter = {risk_family: "balanced"}; myVar="active-balanced"' title='Balanced')
						span.filter.balanced BALANCED
					button(ng-click='myFilter = {risk_family: "equity"}; myVar="active-equity"' title='Equity')
						span.filter.equity EQUITY
				.filter-group
					button(ng-click='myFilter = undefined; myVar=""')
						span.filter.reset
							i.icon-cw

		//- Grid de activos
		.grid
			div(ng-repeat='activo in activos | filter:myFilter' ng-class='setCurrencyClass($index)')
				button(ng-click='setID(activo.id); toggleModalClass(); toggleLoadingClass();' np-init='activo.id' class='id-{{activo.id}} {{activo.risk_family.toLowerCase()}}')
					span.btn.circle(class='{{activo.currency.toLowerCase()}}')
						i(class='icon-{{activo.currency.toLowerCase()}}')
					h2 {{ activo.name }}
					h4 {{ activo.risk_family }}