include ../layout/_variables

doctype html
html(ng-app=npApp ng-controller=ngCont lang=lang ng-class='{"modal-open": modalClass, loading: loadingClass}').loading
	head
		include ../layout/_head

	body
		header
			include ../layout/_header

		main
			#loader
				.wrapper
					.spinner
						.double-bounce1
						.double-bounce2

			block pageContent
				h1 Título de la página

		aside.modal
			button.close(ng-click='toggleModalClass()')
				.content
					.icon-cancel
			block modalContent

		footer
			include ../layout/_footer