// Contenedores principales
%container{
	padding: 4em;
	@include responsive('max-l'){
		padding: 3em;
	}
	@include responsive('max-m'){
		padding: 2em;
	}
	@include responsive('max-s'){
		padding: 1em;
	}
	> .wrapper{
		max-width: $break-xl;
		margin-left: auto;
		margin-right: auto;
	}
	> .wrapper-large{
		max-width: $break-l;
		margin-left: auto;
		margin-right: auto;
	}
	> .wrapper-medium{
		max-width: $break-m;
		margin-left: auto;
		margin-right: auto;
	}
	> .wrapper-small{
		max-width: $break-s;
		margin-left: auto;
		margin-right: auto;
	}
}

%container-mini{
	padding: 1em;
}

// Capa a pantalla completa
%fullscreen{
	@include box-sizing(border-box);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Ocultar
%hidden{
	opacity: 0;
	visibility: hidden;
}

// Mostrar
%show{
	opacity: 1;
	visibility: visible;
}

// Centrar como tabla
%center-as-table{
	display: table;
	> *{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

// Título destacado
%title-special{
	color: $color-title;
	margin-top: 0;
	@include text('super-title');
	text-align: center;
}

%line{
	&:after{
		background: 1px solid $color-grey-light;
		content: '';
		display: block;
		margin: 0.15em auto;
		height: $height-line;
		width: 3em;
	}
}