// Base
body,
button,
input,
select,
textarea{
	font-family: $font-family;
	@include text('base');
}
ul,
ol{
	margin-left: 0;
	padding: 0 0 0 $list-padding;
}
dd{
	margin: 0 0 0 $list-padding;
}
blockquote{
  margin: 1em $blockquote-margin;
}
button{
	padding: 0;
}
button,
a{
	transition: $transition-color;
	&:active,
	&:focus{
		outline: none;
	}
}