// Roboto | Regular
@include font-face(
	'Roboto', 
	'#{$path-fonts}Roboto/Roboto-Regular', 
	400, 
	normal, 
	ttf woff woff2
);

// Roboto | Bold
@include font-face(
	'Roboto', 
	'#{$path-fonts}Roboto/Roboto-Bold', 
	700, 
	normal, 
	ttf woff woff2
);

// Roboto | Italic
@include font-face(
	'Roboto', 
	'#{$path-fonts}Roboto/Roboto-Italic', 
	400, 
	italic, 
	ttf woff woff2
);

// Roboto Slab | Bold
@include font-face(
	'Roboto Slab', 
	'#{$path-fonts}Roboto_Slab/RobotoSlab-Bold', 
	700, 
	normal, 
	ttf woff woff2
);