// Font-face
@include font-face(
	'icons', 
	'#{$path-fonts}icons/icons', 
	400, 
	normal, 
	eot svg ttf woff woff2
);

// Genéricos
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
 
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
 
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
 
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
 
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
 
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

	// Corrección de centrado
	position: relative;
	top: 0.05em;
}

// Iconos
.icon-plus:before { content: '\e800'; }
.icon-calendar:before { content: '\e801'; }
.icon-cancel:before { content: '\e802'; }
.icon-cw:before { content: '\e804'; }
.icon-clock:before { content: '\e805'; }
.icon-eur:before { content: '\f153'; }
.icon-usd:before { content: '\f155'; }
.icon-jpy:before { content: '\f157'; }
.icon-paper-plane-empty:before { content: '\f1d9'; }
.icon-chart-line:before { content: '\f201'; }