// Path
$path-fonts: 'fonts/';

// Default font-family
$font-family: 'Roboto', sans-serif;
$font-family-headings: 'Roboto Slab', serif;

// Default left padding for lists (ul, ol, dl)
$list-padding: 2em;

// Default left margin for blockquotes
$blockquote-margin: 2em;

// Breakpoints
$break-xl: 1050px;
$break-l: 720px;
$break-m: 600px;
$break-s: 480px;

// Color | Principal
$color-main: $flat-red-1;
$color-main-dark: darken($color-main, 15%);
$color-main-light: lighten($color-main, 10%);

// Color | Blanco y Negro
$color-light: #fff;
$color-dark: #000;

// Colores | Grises
$color-grey-lighter: lighten($flat-gray-1, 4%);
$color-grey-light: $flat-gray-1;
$color-grey: $flat-gray-2;
$color-grey-dark: $flat-gray-3;
$color-grey-darker: $flat-gray-4;
$color-grey-darkest: darken($flat-gray-4, 35%);

// Colores | Divisas
$color-euro: $flat-blue-3;
$color-dollar: $flat-red-2;
$color-yen: $flat-green-2;

// Colores | Cabeceras
$color-title: $color-grey-darkest;

// Transiciones
$trans: 0.2s ease-in-out;
$transition: all $trans;
$transition-color:
	background-color 0.3s ease-in-out,
	color 0.3s ease-in-out;

$height-line: 3px;