// Comentarios
.comment-list{
	list-style: none;
	padding: 0;
	li{
		background-color: $color-main;
		color: $color-light;
		@include box-sizing(border-box);
		display: block;
		padding: 1em 2em;
		position: relative;
		width: 100%;
		&:not(:last-child){
			margin-bottom: 0.25em;
		}
		a{
			background-color: $color-main-dark;
			color: $color-main;
			cursor: pointer;
			padding: 0.25em;
			@include box-sizing(border-box);
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			span{
				height: 100%;
				@extend %center-as-table;
			}
			&:hover{
				color: $color-light;
			}
		}
	}
}