// Filtros
.wrapper-filters{
	display: block;	
	text-align: center;
}
.filters{
	display: inline-block;
	text-align: center;
	margin: 2.5em 0 5em;

	button{
		background-color: transparent;
	}

	// Grupo de filtros
	.filter-group{
		display: inline-block;
		margin: 0;
		@include responsive('max-m'){
			display: block;
			margin: 1em 0;
		}
	}

	// Botones de filtro
	.filter{
		background-color: $color-grey-lighter;
		color: $color-grey;
		display: inline-block;
		padding: 1em;
		margin: 0;
		transition: $transition-color;
		&:hover{
			background-color: $color-grey-light;
			color: $color-grey-dark;
		}
		&.reset{
			background-color: $color-grey-dark;
			color: $color-light;
			&:hover{
				background-color: $color-main-dark;
			}
		}

		&.balanced{
			margin-right: -4px;
		}
	}


	// Opción activa
	&.active-euro .euro,
	&.active-euro .euro:hover,
	&.active-dolar .dolar,
	&.active-dolar .dolar:hover,
	&.active-yen .yen,
	&.active-yen .yen:hover,
	&.active-balanced .balanced,
	&.active-balanced .balanced:hover,
	&.active-equity .equity,
	&.active-equity .equity:hover{
		background-color: $color-main;
		color: $color-light;
	}
}