// Grid de botones
.grid{
	@include responsive('min-l'){
		@include grid(3, 6);
	}
	@include responsive('max-l'){
		@include grid(2, 4);
	}
	@include responsive('max-m'){
		@include grid(1, 16);
	}

	// Estilos
	margin: 5em 0;
	text-align: center;
	
	// Títulos activo
	h2{
		$margin: 0.75em;
		margin-bottom: $margin;
		margin-top: $margin;
		position: relative;
		&:after{
			background-color: $color-grey-light;
			content: '';
			height: $height-line;
			width: 3em;
			display: block;
			margin: 0.5em auto;
			transition: $transition;
		}
	}

	// Iconos
	button:hover{
		[class^='icon-']{
			color: $color-light;
			text-align: center;
		}
		.eur{
			background-color: $color-euro;
		}
		.usd{
			background-color: $color-dollar;
		}
		.jpy{
			background-color: $color-yen;
		}

		h2:after{
			width: 6em;
		}
	}
}