// Capa de carga
#loader{
	transition: $transition;
	background-color: $color-main;
	@extend %fullscreen;
	position: fixed;
	@extend %hidden;
	@extend %center-as-table;
	z-index: 100;
	html.loading &{
		@extend %show;
	}
}