// Ventana modal (fichas)
html.modal-open{
	overflow: hidden;
	body{
		overflow-y: scroll;
	}
	&:not(.loading) .modal{
		overflow: auto;
		@extend %show;
	}
}

// Ficha
.modal{
	$height-close: 10vh;
	@extend %fullscreen;
	background-color: $color-light;
	height: 100vh - $height-close;
	top: $height-close;
	position: fixed;
	@extend %hidden;
	@extend %container;
	@include text('subtitle');
	transition: $transition;
	z-index: 10;

	// Botón de cierre
	.close{
		border-bottom: $height-line solid $color-light;
		font-size: $height-close / 3;
		height: $height-close;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;

		// Icono
		.content{
			height: 100%;
			width: 100%;
			@extend %center-as-table;
		}
	}

	// Mostrar cuando no esté la ventana de carga
	html.modal-open:not(.loading) &{
	}

	// Eliminada transición de entrada
	html.modal-open &{
		transition: none;
	}

	// Título de la ficha
	h1{
		margin-bottom: 1.25em;
	}

	// Bloque de información de ficha
	.info{
		text-align: center;
		span.sector:not(:last-child){
			margin-right: 0.5em;
		}
	}

	// Maquetación de elementos
	textarea{
		@include text('subtitle');
	}
	h2{
		@include text('title');
	}
	h1,
	h2,
	h3{
		text-align: center;
	}
	h2{
		margin-top: 3.5em;
		margin-bottom: 1em;
	}

	// Contenedor de precios
	.wrapper-prices{
		text-align: center;
		button{
			$mar: 3em;
			margin-top: $mar;
		}
	}
}